<div class="dashboard">
    <div class="dashboard__widget">
        <h2>Тип инцидентов</h2>
        <div class="dashboard__widget_display">
            <div>
                <canvas baseChart
                        [data]="pieChartData"
                        [labels]="pieChartLabels"
                        [chartType]="pieChartType"
                        [options]="pieChartOptions"
                        [plugins]="pieChartPlugins"
                        [legend]="pieChartLegend">
                </canvas>
            </div>
        </div>
    </div>
    <div class="dashboard__widget">
        <h2>Тип инцидентов</h2>
        <div class="dashboard__widget_display">
            <div>
                <canvas baseChart
                        [data]="pieChartData"
                        [labels]="pieChartLabels"
                        [chartType]="pieChartType"
                        [options]="pieChartOptions"
                        [plugins]="pieChartPlugins"
                        [legend]="pieChartLegend">
                </canvas>
            </div>
        </div>
    </div>
    <div class="dashboard__widget">
        <h2>Тип инцидентов</h2>
        <div class="dashboard__widget_display">
            <div>
                <canvas baseChart
                        [data]="pieChartData"
                        [labels]="pieChartLabels"
                        [chartType]="pieChartType"
                        [options]="pieChartOptions"
                        [plugins]="pieChartPlugins"
                        [legend]="pieChartLegend">
                </canvas>
            </div>
        </div>
    </div>
</div>
