.dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    //margin: auto;
    //background-color: #383838d9;
    color: white;

    &__widget {
        display: flex;
        flex-direction: column;

        &_display {
            display: flex;
        }

        &_width {
            width: 80%;
        }
    }

    &__widget3 {
        grid-column: 1 / span 2;
    }
}

.dashboard-content {
    display: flex;
    color: white;
    height: 100%;
    min-width: 78vw;
    flex-direction: column;
    padding-left: 2%;

    canvas {
        height: auto !important;
        width: 95% !important;
    }

    &__breadcrumbs {
        a {
            font-size: 1.1em;
        }
    }
}
