<div class="auth">
    <form (ngSubmit)="submit()" [formGroup]="form" class="form">
        <mat-form-field appearance="standard">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Введите почту" formControlName="email" type="email">
        </mat-form-field>
        <br>
        <mat-form-field *ngIf="isRegisterMode" appearance="standard">
            <mat-label>Имя</mat-label>
            <input matInput placeholder="Введите имя" formControlName="name">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Пароль</mat-label>
            <input matInput formControlName="password" type="password">
        </mat-form-field>
        <div class="submit-block">
            <div *ngIf="isRegisterMode">
                <br>
                <a type="button" (click)="isRegisterMode = false">Войти</a>
            </div>
            <div *ngIf="!isRegisterMode">
                <br>
                <a (click)="isRegisterMode = true">Регистрация</a>
            </div>
            <div>
                <button mat-raised-button>{{isRegisterMode ? 'Регистрация' : 'Войти'}}</button>
            </div>
        </div>
    </form>
</div>
